name: Metrics
on:
  # Schedule updates (every 24 hours)
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: armin-gs
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York

          # Output settings
          filename: github-metrics.svg
          output_action: commit
          committer_branch: main 
          committer_message: "chore: update metrics."
